### JetBrains IDE (PyCharm / IntelliJ) ###
# User-specific workspace (Never commit)
.idea/workspace.xml
.idea/usage.statistics.xml
.idea/shelf
.idea/dictionaries

# Module settings (The file you wanted to ignore)
*.iml
.idea/modules.xml

### Python Specifics ###
# Compiled python files
__pycache__/
*.pyc

# Virtual Environments (Libraries)
venv/
.venv/
env/

### Operating System Junk ###
.DS_Store
Thumbs.db